<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
</head>

<body>

<ul class="cart_list_td clearfix" v-for="(sku,index) in cart" id="porcdesc" >
	<span id="pro_list"></span>
</ul>

<script>
	
	//==================在cookie购物车模板中，把数据渲染出来，并调用js:===========================
//	console.log(xc.Read());
	let pro_list = xc.Read();

	var abs = pro_list.Items;

	// alert(abs);SS


	var username = $.cookie('username');
	// alert(abs[0]["Id"]);

	let ul = '';
	for (var i = 0; i < abs.length; i++) {
		alert("123")
		ul += '<ul class="cart_list_td clearfix" v-for="(sku,index) in cart" id="porcdesc" ><li class="col01"><input type="checkbox" name="product_id" v-model="sku.selected" @change="update_selected(index)" value="' + abs[i]["Id"] + ',' + abs[i]["Id"] + ',' + abs[i]["Name"] + '" onclick="dod()"></li><li class="col02"><img src=""></li><li class="col03" id="prodtit" >' + abs[i]["Name"] + '</li><li class="col05" id="prodpic">' + abs[i]["Price"] + '元</li><li class="col08">' + abs[i]["Count"] + '</li><li id="pkid" value="' + abs[i]["Id"] + '"><a @click="on_delete(index)" onclick="delpro(' + abs[i]["Id"] + ')">删除</a></li></ul>'
	}

	ul += '';
	$("#pro_list").html(ul);
	
//	===========在商品详情页中写了onclick(),并调用js里面的添加购物车逻辑:==========================
	function getcookie(){
		xc.Add(id,$('#title').html(),4,$('#price').html());
		alert(xc.Read());
		alert($('#title').html());
	}
	
</script>
<script src="js/shopcart.js"></script>
</body>
</html>
